.widget-podcast
    .uk-card
        margin-bottom: 1em
        border-radius: 5px
        color: #4D4D4D
        &-title
            color: #4D4D4D !important
        .cat-item
            a
                color: #4D4D4D
                transition: all .3s
                &:hover
                    color: $primary-color
                    text-decoration: none
    .uk-search
        width: 100%
    .widget-search
        margin-bottom: 1em
    .widget-newsletter
        background-color: $primary-color
        color: white
        border: none
        .uk-card-title
            color: white !important
        .wpcf7-text
            width: 100%
            border: none
            padding: 1em .5em
            background-color: transparent
            border-bottom: 1px solid #fff
        .wpcf7-acceptance
            .wpcf7-list-item
                margin: 0