.ox-layer__dark {
  position: relative;
}
.ox-layer__dark::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.ox-text-center {
  text-align: center;
}

.ox-podcast-main {
  padding: 2em 0;
}

.ox-podcast-content {
  padding: 2em;
}

.text-primary {
  color: #58C9CD;
}

.ox-bg-primary {
  background-color: #E9FDFF;
}

.page-template-podcast-home #tm-main {
  padding: 0;
}
.page-template-podcast-home #tm-main .uk-container {
  max-width: 100%;
  padding: 0;
  background: white;
}
.page-template-podcast-home #tm-main .article-main {
  padding: 2em 0;
}

.box-bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.box-bg-image.podcast-home-intro {
  padding: 4em;
  min-height: 60vh !important;
}
.box-bg-image .intro-title {
  color: white;
  font-size: 5em;
  margin: 0;
}

.breadcrumbs-podcast {
  padding: 1.5em 2em;
  background-color: #E9FDFF;
}

.podcast-section {
  padding: 4em 0;
}
.podcast-section__title .text {
  font-size: 3em;
}
.podcast-section__title .title-line {
  border: 3px solid #58C9CD;
  margin: 10px 0;
}
.podcast-section__title .title-line.first-line {
  width: 70px;
}
.podcast-section__title .title-line.last-line {
  width: 50px;
}

.slick-podcast, .ox-more-series {
  margin: 2em 0;
}
.slick-podcast .slick-custom-arrow, .ox-more-series .slick-custom-arrow {
  position: absolute;
  bottom: -5em;
  width: 50px;
  height: 50px;
  border: none;
  background: #58C9CD;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  outline: 0px;
  transition: all 0.3s;
}
.slick-podcast .slick-custom-arrow:hover, .ox-more-series .slick-custom-arrow:hover {
  background: #4D4D4D;
}
.slick-podcast .slick-custom-arrow.slick-custom-prev, .ox-more-series .slick-custom-arrow.slick-custom-prev {
  left: 0;
}
.slick-podcast .slick-custom-arrow.slick-custom-next, .ox-more-series .slick-custom-arrow.slick-custom-next {
  left: 5em;
}

.ox-card {
  margin: 0 0.5em;
}
.ox-card__body {
  position: relative;
  height: 300px;
}
.ox-card__body__image {
  position: relative;
  width: 100%;
  height: 100% !important;
  border-radius: 10px;
  object-fit: cover;
}
.ox-card__body__button-play {
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4D4D4D;
  font-size: 0.8em;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: white;
  transition: all 0.3s;
  cursor: pointer;
}
.ox-card__body__button-play:hover {
  transform: translateX(3px);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #58C9CD;
  text-decoration: none;
}
.ox-card__body__date {
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 1;
  color: #58C9CD;
  background: white;
  padding: 0.5em 1em;
}
.ox-card__caption {
  margin-top: 1em;
}
.ox-card__caption__serie__link {
  color: #959595;
}
.ox-card__caption__podcast-title {
  transition: all 0.3s;
  color: #4D4D4D;
  font-size: 2em;
}
.ox-card__caption__podcast-link {
  transition: all 0.3s;
}
.ox-card__caption__podcast-link:hover {
  text-decoration: none;
}
.ox-card__caption__podcast-link:hover .ox-card__caption__podcast-title {
  color: #58C9CD;
}

.social-section {
  text-align: center;
  padding: 4em 0;
}
.social-section__title {
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}
.social-section__subtitle {
  margin: 0;
}
.social-section__buttons {
  margin-top: 2em;
  background-color: #58C9CD;
  padding: 2em;
}
.social-section__buttons__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.social-section__buttons__list li {
  margin: 1em 2em;
}
.social-section__buttons__list__btn {
  color: white;
  transition: all 0.3s;
}
.social-section__buttons__list__btn:hover {
  text-decoration: none;
}
.social-section__buttons__list__btn i {
  font-size: 4em;
}
.social-section__buttons__list .name-social {
  display: block;
}

#series-section {
  background-color: #E9FDFF;
}

.ox-grid {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 2em 0;
  grid-gap: 20px;
}
.ox-grid__item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  grid-column: span 1;
  grid-row: span 1;
  font-size: 7pt;
}
.ox-grid__item:first-child {
  font-size: 12pt;
  grid-column: span 2;
  grid-row: span 2;
}
.ox-grid__item__link {
  display: block;
  height: 100%;
}
.ox-grid__item__link__title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 5em;
  color: white;
  z-index: 3;
  text-transform: uppercase;
  transition: all 0.3s;
}
.ox-grid__item__link__seasons {
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 0.2em 30px;
  color: white;
  background-color: #58C9CD;
  font-size: 2em;
  z-index: 3;
}
.ox-grid__item__link__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
  transition: all 0.3s;
}
.ox-grid__item:hover .ox-grid__item__link__title {
  color: #58C9CD;
}
.ox-grid__item:hover .ox-grid__item__link__image {
  transform: scale(1.2);
}

.ox-more-series__item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  font-size: 7pt;
  margin: 1em;
}
.ox-more-series__item__link {
  display: block;
  height: 100%;
}
.ox-more-series__item__link__title {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 5em;
  color: white;
  z-index: 3;
  text-transform: uppercase;
  transition: all 0.3s;
}
.ox-more-series__item__link__seasons {
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 0.2em 20px;
  color: white;
  background-color: #58C9CD;
  font-size: 2em;
  z-index: 3;
}
.ox-more-series__item__link__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 0;
  position: relative;
  transition: all 0.3s;
}
.ox-more-series__item:hover .ox-more-series__item__link__title {
  color: #58C9CD;
}
.ox-more-series__item:hover .ox-more-series__item__link__image {
  transform: scale(1.2);
}
.ox-more-series.ox-all-series .ox-more-series__item {
  height: 450px;
  font-size: 10pt;
}
.ox-more-series.ox-all-series .ox-more-series__item__link__image {
  height: 100%;
}

.page-template-all_series .ox-podcast-main {
  padding-top: 0;
}

.ox-all-series-section {
  padding-top: 0;
}

.ox-grid-podcast__card {
  padding: 2em;
  border: 1px solid #DEDEDE;
  margin: 1em 0;
  border-radius: 5px;
}
.ox-grid-podcast__card__title {
  color: #4D4D4D;
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}
.ox-grid-podcast__card__serie__link {
  color: #959595;
  margin: 0.5em 0;
  display: block;
}

.ox-pagination {
  padding: 1em;
  background: #E9FDFF;
}
.ox-pagination nav h2 {
  display: none;
}
.ox-pagination nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.ox-pagination nav.post-navigation .nav-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.widget-podcast .uk-card {
  margin-bottom: 1em;
  border-radius: 5px;
  color: #4D4D4D;
}
.widget-podcast .uk-card-title {
  color: #4D4D4D !important;
}
.widget-podcast .uk-card .cat-item a {
  color: #4D4D4D;
  transition: all 0.3s;
}
.widget-podcast .uk-card .cat-item a:hover {
  color: #58C9CD;
  text-decoration: none;
}
.widget-podcast .uk-search {
  width: 100%;
}
.widget-podcast .widget-search {
  margin-bottom: 1em;
}
.widget-podcast .widget-newsletter {
  background-color: #58C9CD;
  color: white;
  border: none;
}
.widget-podcast .widget-newsletter .uk-card-title {
  color: white !important;
}
.widget-podcast .widget-newsletter .wpcf7-text {
  width: 100%;
  border: none;
  padding: 1em 0.5em;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.widget-podcast .widget-newsletter .wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
}

.single-podcast .tm-main, .tax-serie_podcast .tm-main, .page-template-all_series .tm-main {
  background-color: white;
  padding: 0;
}
.single-podcast .tm-main .uk-container, .tax-serie_podcast .tm-main .uk-container, .page-template-all_series .tm-main .uk-container {
  max-width: 100%;
  padding: 0;
}
.single-podcast .breadcrumbs-podcast, .tax-serie_podcast .breadcrumbs-podcast, .page-template-all_series .breadcrumbs-podcast {
  margin: 2em 0;
}

.podcast-single-intro {
  background-color: #58C9CD;
  padding: 4em 0;
  color: white;
}
.podcast-single-intro .brand-name {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
}
.podcast-single-intro .intro-title {
  margin: 0;
  margin-top: 5px;
  color: white;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}

.ox-info-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 1em 0;
  font-size: 1.5em;
  color: #4D4D4D;
}

.ox-share-section {
  text-align: center;
  padding: 2em 0;
  margin: 2em 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.ox-share-section h5 {
  margin: 0;
}
.ox-share-section__nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}
.ox-share-section__nav__item {
  margin: 0 1em;
}
.ox-share-section__nav__item a {
  transition: all 0.3s;
  font-size: 1.5em;
}

.ox-fb-comments {
  margin: 2em 0;
}

.ox-releated-podcast {
  padding: 1em 2em;
}

.accordionjs {
  border: none !important;
  margin: 2em 0 !important;
}
.accordionjs .acc_section {
  border: none !important;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.23);
  margin-bottom: 0.5em;
  padding: 1em;
  color: #4D4D4D;
}
.accordionjs .acc_section .acc_head {
  font-size: 3em;
  border: none !important;
  display: flex !important;
  flex-flow: row wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.accordionjs .acc_section .acc_head i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white !important;
  background-color: #4D4D4D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.3em;
  transition: all 0.3s;
  transform: rotate(0deg);
}
.accordionjs .acc_section.acc_active {
  border: none !important;
}
.accordionjs .acc_section.acc_active .acc_head {
  background: none !important;
  color: #58C9CD;
}
.accordionjs .acc_section.acc_active .acc_head i {
  background-color: #58C9CD;
  transform: rotate(180deg);
}

.accordion-season .ox-grid-podcast__card__title {
  margin-bottom: 1em;
}

@media screen and (max-width: 480px) {
  .box-bg-image.podcast-home-intro {
    padding: 2em;
    min-height: auto !important;
  }

  .article-main {
    padding-top: 0 !important;
  }

  .breadcrumbs-podcast {
    padding: 1em;
    margin: 0 !important;
  }

  .podcast-section {
    padding: 2em;
  }

  .slick-theme .slick-custom-arrow {
    bottom: -3em;
  }

  .social-section__buttons {
    padding: 1em 0;
  }
  .social-section__buttons i {
    font-size: 2em;
  }
  .social-section__buttons__list {
    flex-flow: row nowrap;
  }

  .ox-grid {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .ox-grid__item {
    height: 300px;
    font-size: 7pt !important;
  }
  .ox-grid-podcast__card {
    padding: 1em;
  }

  .ox-pagination {
    margin-bottom: 2em;
  }

  .podcast-single-intro {
    padding: 1em 2em;
  }
  .podcast-single-intro .intro-title {
    font-size: 2.5em;
  }

  .ox-info-bar {
    font-size: 12pt;
    padding: 2em;
  }

  .ox-podcast-main {
    padding-top: 0;
  }
  .ox-podcast-main .widget-podcast {
    padding: 2em;
  }

  .ox-more-series .slick-custom-arrow {
    bottom: -5em;
  }

  .ox-all-series-section {
    padding: 1em;
  }
  .ox-all-series-section .ox-all-series {
    margin: 0;
  }
  .ox-all-series-section .ox-all-series .ox-more-series__item {
    height: 300px;
    font-size: 7pt;
  }

  .accordionjs .acc_head {
    font-size: 2em !important;
  }
}

/*# sourceMappingURL=main.css.map */
